<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peachblossom.mapper.AdminOrderMapper">

	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'N'.toString()">
							ord_name like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							ord_code like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> 
	</sql>
	

	<select id="getListWithPaging" resultType="com.peachblossom.domain.OrderVO">
	
		<![CDATA[ 
		SELECT 
			ord_code, 
        	mb_id, 
        	ord_name, 
        	ord_zipcode, 
        	ord_addr_basic, 
        	ord_addr_detail, 
        	ord_tel1, 
        	ord_tel2, 
        	ord_tel3, 
        	ord_price, 
        	ord_regdate, 
        	ord_message, 
        	ord_state, 
        	ord_depositor
			
		FROM (
		        SELECT 
		        	/*+ index_desc(order_tbl pk_order_tbl) */ 
		        	rownum rn,
		        	ord_code, 
		        	mb_id, 
		        	ord_name, 
		        	ord_zipcode, 
		        	ord_addr_basic, 
		        	ord_addr_detail, 
		        	ord_tel1, 
		        	ord_tel2, 
		        	ord_tel3, 
		        	ord_price, 
		        	ord_regdate, 
		        	ord_message, 
		        	ord_state, 
		        	ord_depositor
				FROM 
					order_tbl
				WHERE 
		]]>     
		    
		<include refid="criteria"></include>
		
		<![CDATA[     
				    rownum <= (#{pageNum} * #{amount}) 
				)
		
		WHERE 
			rn > ((#{pageNum} - 1) * #{amount} )
		]]>
	
	</select>

	<select id="getTotalCount" resultType="int">
		SELECT 
			count(*) 
		FROM 
			order_tbl 
		WHERE
		
		<include refid="criteria"></include> 
		
		ord_code > 0
		
	</select>
	
	<update id="orderStateChange">
	
		UPDATE 
			order_tbl
		SET
			ord_state = #{ord_state}
		WHERE
			ord_code = #{ord_code}
	
	</update>
	
	<delete id="ordDelete">
	
		DELETE
		
		FROM
			order_tbl
		WHERE
			ord_code = #{ord_code}
	
	</delete>
	
	<delete id="ordDetailDelete">
	
		DELETE
		
		FROM 
			ordetail_tbl
		WHERE
			ord_code = #{ord_code}
	
	</delete>
	
	<select id="ordDetailInfo" resultType="com.peachblossom.domain.OrderDetailInfo">
	
		SELECT 
			od.ord_code, 
			od.pro_num, 
			p.pro_name, 
			od.dt_amount, 
			od.dt_price, 
			p.pro_uploadpath, 
			p.pro_img 
		FROM
			ordetail_tbl od 
		INNER JOIN
			product_tbl p
		ON
			od.pro_num = p.pro_num
		WHERE
			od.ord_code = #{ord_code}
	
	</select>
	
</mapper>